p {
    font-size: 14px;
}

.proceed {
    position: relative;
    margin: 5px;
    padding: 5px 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
}

.reject {
    position: relative;
    margin: 5px;
    padding: 5px 10px;
    background: white;
    color: #1976d2;
    border: none;
    border-radius: 5px;
}

.proceed:hover:not(:disabled) {
    background: #1565c0;
}

.reject:hover:not(:disabled) {
    background: #e0e0e0;
}