<h2 mat-dialog-title>Obecność – {{ data.lessonInfo }}</h2>
<mat-dialog-content>

    <table class="table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th class="col-7">Uczeń</th>
                <th class="col-5">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of data.students">
                <td class="align-content-center">{{ student.fullName }}</td>
                <td>
                    <mat-select [(ngModel)]="student.status" placeholder="Wybierz status">
                        <mat-option [value]=0>Obecny</mat-option>
                        <mat-option [value]=1>Nieobecny</mat-option>
                        <mat-option [value]=2>Spóźniony</mat-option>
                        <mat-option [value]=3>Usprawiedliwiony</mat-option>
                    </mat-select>
                </td>
            </tr>
        </tbody>
    </table>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="reject" (click)="close()">Anuluj</button>
    <button class="proceed" (click)="saveAttendance()">Zapisz obecność</button>
</mat-dialog-actions>