<div *ngIf="isLoading" class="mat-spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="custom-container">

    <h1>Lista przedmiotów</h1>

    <hr class="my-5" />

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mb-5">

            <!-- Kolumna Numer porządkowy -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    {{ rowNumber + i + 1 }}
                </td>
            </ng-container>

            <!-- Kolumna Nazwa klasy -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa klasy </th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <!-- Kolumna Wychowawca -->
            <ng-container matColumnDef="homeroomTeacherName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Wychowawca </th>
                <td mat-cell *matCellDef="let row">{{ row.homeroomTeacherName }}</td>
            </ng-container>

            <!-- Kolumna Data utworzenia -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data utworzenia </th>
                <td mat-cell *matCellDef="let row"> {{ row.createdAt | date: 'dd-MM-yyyy HH:mm' }}
                </td>
            </ng-container>

            <!-- Kolumna Data aktualizacji -->
            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data aktualizacji </th>
                <td mat-cell *matCellDef="let row"> {{ row.updatedAt | date: 'dd-MM-yyyy HH:mm' }}
                </td>
            </ng-container>

            <!-- Kolumna Klasa - nauczyciel -->
            <ng-container matColumnDef="assignmentsDto">
                <th mat-header-cell *matHeaderCellDef> Klasa - nauczyciel </th>
                <td mat-cell *matCellDef="let row"> {{ row.assignmentsDto }}
                </td>
            </ng-container>

            <!-- Kolumna Akcje -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Akcje </th>
                <td mat-cell *matCellDef="let row">
                    <img src="./images/info.png" alt="Szczegóły" class="details-icon" matTooltip="Szczegóły"
                        matTooltipPosition="above" routerLink="/admin/subject-edit/{{ row.id }}">
                    <img src="./images/delete.png" alt="Usuń" class="delete-icon" matTooltip="Usuń"
                        matTooltipPosition="above" (click)="onDeleteSubject(row.id)">
                </td>
            </ng-container>

            <!-- Nagłówki i dane tabeli -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Paginacja -->
        <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]"
            showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>