<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-fluid p-0">

        <button *ngIf="showMenuButton && authService.isLoggedIn()" class="menu-button" type="button"
            (click)="onMenuButtonClick()" matTooltip="Pokaż/Ukryj menu">
            &#9776;
        </button>

        <a class="navbar-brand" routerLink="/home">
            STRONA GŁÓWNA
        </a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
            </ul>

            <ul class="navbar-nav">
                <div class="normal">
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="!authService.isLoggedIn()" [routerLink]="'/login'"
                            (click)="isMenuCollapsed = true">
                            ZALOGUJ SIĘ
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="user-button" [matMenuTriggerFor]="menu" *ngIf="authService.isLoggedIn()">
                            {{ userName }}
                            <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </li>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="authService.isLoggedIn() && authService.isAdmin()"
                            class="user-button" [routerLink]="'/admin'" (click)="isMenuCollapsed = true">
                            PANEL ADMINISTRATORA
                        </button>
                        <button mat-menu-item *ngIf="authService.isLoggedIn() && authService.isTeacher()"
                            class="user-button" [routerLink]="'/teacher'" (click)="isMenuCollapsed = true">
                            PANEL NAUCZYCIELA
                        </button>
                        <button mat-menu-item *ngIf="authService.isLoggedIn() && authService.isStudent()"
                            class="user-button" [routerLink]="'/student'" (click)="isMenuCollapsed = true">
                            PANEL UCZNIA
                        </button>
                        <button mat-menu-item *ngIf="authService.isLoggedIn()" class="user-button"
                            (click)="isMenuCollapsed = true; logout()">
                            WYLOGUJ
                        </button>
                    </mat-menu>
                </div>
                <div class="media">
                    <li class="nav-item">
                        <div class="user-button" *ngIf="authService.isLoggedIn()" (click)="isMenuCollapsed = true">
                            {{ userName }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="authService.isLoggedIn() && authService.isTeacher()"
                            [routerLink]="'/teacher'" (click)="isMenuCollapsed = true">
                            PANEL NAUCZYCIELA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="authService.isLoggedIn() && authService.isAdmin()"
                            [routerLink]="'/admin'" (click)="isMenuCollapsed = true">
                            PANEL ADMINISTRATORA
                        </a>
                    </li>
                    <li li class="nav-item">
                        <button mat-menu-item *ngIf="authService.isLoggedIn()" class="user-button"
                            (click)="isMenuCollapsed = true; logout()">
                            WYLOGUJ
                        </button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>