<div class="custom-container">
    <h1 class="text-center">
        <img src="./images/graduate.png" alt="Logo" class="logo" />
        Cyfrowy dziennik lekcyjny
    </h1>

    <hr class="my-5" />

    <div class="main-card">

        <div class="alert alert-light mb-5">
            <h2>
                Witaj w aplikacji dziennik lekcyjny
            </h2>
        </div>

        <div class="alert alert-light mb-5">
            <h3 class="mb-4">
                Elektroniczny dziennik lekcyjny to aplikacja przeznaczona dla nauczycieli i uczniów Szkoły podstawowej
                nr 7 w Poznaniu. <br>
            </h3>

            <h4 class="mb-4">
                Jeżeli jesteś uczniem możesz sprawdzić swoje oceny, frekwencję i zweryfikować plan lekcji. <br>
            </h4>

            <h4 class="mb-4">
                Jeżeli jesteś nauczycielem możesz zarządzać swoją klasą, wpisywać oceny i podejrzeć plan lekcji.
            </h4>
        </div>

        <mat-card routerLink="/login">
            <mat-card-content>
                <h4 class="text-center">Zaloguj się, aby kontynuować</h4>
            </mat-card-content>
        </mat-card>
    </div>
</div>