.custom-container {
    margin: 20px 40px;
    max-width: 1000px;
}

mat-card {
    border-radius: 5px;
    background-color: white;
}

.mat-spinner {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
}