p {
    font-size: 14px;
}

.proceed {
    position: relative;
    margin: 5px;
    width: 70px;
    height: 30px;
    font-size: 16px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.reject {
    position: relative;
    margin: 5px;
    width: 70px;
    height: 30px;
    font-size: 16px;
    background: white;
    color: #1976d2;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.proceed:hover:not(:disabled) {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: #1565c0;
}

.reject:hover:not(:disabled) {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: #e0e0e0;
}