<div *ngIf="isLoading" class="mat-spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="custom-container">

    <h1>Plany lekcji</h1>

    <hr class="my-5" />

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mb-5">

            <!-- Kolumna Numer porządkowy -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    {{ rowNumber + i + 1 }}
                </td>
            </ng-container>

            <!-- Kolumna Nazwa klasy -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa klasy </th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <!-- Kolumna Liczba wpisów -->
            <ng-container matColumnDef="studentCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba wpisów </th>
                <td mat-cell *matCellDef="let row"> {{ row.studentCount }}
                </td>
            </ng-container>

            <!-- Kolumna Akcje -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Akcje </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <span *ngIf="!row.hasSchedule">
                        <img src="./images/add.png" alt="Utwórz plan lekcji" class="details-icon"
                            matTooltip="Utwórz plan lekcji" matTooltipPosition="above"
                            routerLink="/admin/schedule-edit/{{ row.id }}">
                        Utwórz plan lekcji
                    </span>
                    <span *ngIf="row.hasSchedule">
                        <img src="./images/edit.png" alt="Edytuj plan lekcji" class="details-icon"
                            matTooltip="Edytuj plan lekcji" matTooltipPosition="above"
                            routerLink="/admin/schedule-edit/{{ row.id }}">
                        Edytuj plan lekcji
                    </span>
                </td>
            </ng-container>

            <!-- Nagłówki i dane tabeli -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>