<div class="custom-container">
    <h1>Rejestrowanie obecności</h1>
    <hr class="my-5" />

    <div *ngIf="todayLessons.length === 0">
        <p>Brak zaplanowanych lekcji na dzisiaj.</p>
    </div>

    <div *ngIf="todayLessons.length > 0">
        <h3>Dzisiejsze lekcje</h3>
        <ul class="lesson-list">
            <li *ngFor="let lesson of todayLessons">
                <button mat-button (click)="onLessonClick(lesson.scheduleId, lesson.subjectName, lesson.className)">
                    {{ lesson.startTime }} – {{ lesson.subjectName }} ({{ lesson.className }})
                </button>
            </li>
        </ul>
    </div>

    <div *ngIf="students.length > 0">
        <h3>Obecność – {{ selectedLessonInfo }}</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Uczeń</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{ student.fullName }}</td>
                    <td>
                        {{ student.status ? student.status : 'Brak danych' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  