<div *ngIf="isLoading" class="mat-spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="custom-container">
    
    <h1>Rejestrowanie obecności</h1>
    
    <hr class="my-5" />

    <div *ngIf="!isLoading && todayLessons.length === 0">
        <p>Brak zaplanowanych lekcji na dzisiaj.</p>
    </div>

    <div *ngIf="todayLessons.length > 0">
        <h2>Dzisiejsze lekcje:</h2>

        <mat-card *ngFor="let lesson of todayLessons" class="my-3"
            (click)="onLessonClick(lesson.scheduleId, lesson.subjectName, lesson.className)">
            <mat-card-content>
                <h5>
                    {{ lesson.startTime }} – {{ lesson.subjectName }} ({{ lesson.className }})
                </h5>
            </mat-card-content>
        </mat-card>
    </div>
</div>