<div *ngIf="isLoading" class="mat-spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="custom-container">

    <h1>Dodaj nową klasę</h1>

    <hr class="my-5" />

    <form [formGroup]="classAddForm" class="mb-3">
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="mb-3">
                    <mat-label>Nazwa klasy</mat-label>
                    <input matInput type="text" formControlName="name" #autoFocusInput>
                    <mat-error *ngIf="classAddForm.controls['name'].hasError('required')">
                        Nazwa klasy jest wymagana
                    </mat-error>
                    <mat-error *ngIf="classAddForm.controls['name'].hasError('maxlength')">
                        Nazwa klasy nie może być dłuższa niż 5 znaków
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="mb-3">
                    <mat-label>Wychowawca</mat-label>
                    <mat-select formControlName="homeroomTeacherId">
                        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
                            {{ teacher.firstName }} {{ teacher.lastName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="classAddForm.controls['homeroomTeacherId'].hasError('required')">
                        Wychowawca klasy jest wymagany
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="mb-5">
        <input type="text" class="form-control search-student-input" placeholder="Wyszukaj ucznia..."
            [(ngModel)]="searchTerm" (input)="filterStudents()" />
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>Lista uczniów</h3>

            <hr class="my-4" />

            <div class="mb-5 students-list">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let student of filteredStudents">
                                <td>
                                    <mat-checkbox [(ngModel)]="student.isSelected" (change)="onStudentChange(student)">
                                    </mat-checkbox>
                                </td>
                                <td class="align-content-center" [innerHTML]="highlight(student.lastName)">
                                </td>
                                <td class="align-content-center" [innerHTML]="highlight(student.firstName)">
                                </td>
                                <td class="align-content-center">
                                    {{ student.className }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h3>Wybrani uczniowie</h3>

            <hr class="my-4" />

            <div class="mb-5 students-list">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let student of selectedStudents">
                                <td class="align-content-center chosen-student">
                                    {{ student.lastName }} {{ student.firstName }}
                                </td>
                                <td class="align-content-center">
                                    {{ student.className }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button class="proceed" [disabled]="isLoading" type="submit" (click)="onSubmit()">
            <span *ngIf="isLoading" class="loading-spinner"></span>
            <span *ngIf="!isLoading">
                Dodaj klasę
            </span>
        </button>
    </div>
</div>