<div *ngIf="isLoadingResults" class="mat-spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="custom-container">

    <form [formGroup]="searchForm">
        <div class="row">
            <div class="col-lg-9">
                <h1 *ngIf="searchQuery === ''">Lista użytkowników</h1>
                <h1 *ngIf="searchQuery === 'Administrator'">Lista administratorów</h1>
                <h1 *ngIf="searchQuery === 'Student'">Lista uczniów</h1>
                <h1 *ngIf="searchQuery === 'Teacher'">Lista nauczycieli</h1>
            </div>
            <div class="col-lg-2">
                <mat-form-field appearance="outline">
                    <mat-label>Filtruj po roli</mat-label>
                    <mat-select formControlName="query">
                        <mat-option *ngFor="let role of roles" [value]="role.name">
                            {{ role.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>

    <hr class="my-5" />

    <div class="table-responsive">
        <table mat-table [dataSource]="data" matSort class="mat-elevation-z8 mb-5">

            <!-- Kolumna Numer porządkowy -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element">
                    {{ getRowNumber(data.indexOf(element)) }}
                </td>
            </ng-container>

            <!-- Kolumna Imię -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
                <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
            </ng-container>

            <!-- Kolumna Nazwisko -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
                <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
            </ng-container>

            <!-- Kolumna Rola -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rola </th>
                <td mat-cell *matCellDef="let user">
                    <span *ngIf="user.role === 'Administrator'" class="badge bg-primary"> Administrator </span>
                    <span *ngIf="user.role === 'Student'" class="badge bg-secondary"> Uczeń </span>
                    <span *ngIf="user.role === 'Teacher'" class="badge bg-warning"> Nauczyciel </span>
                </td>
            </ng-container>

            <!-- Kolumna Email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let user">{{ user.email }}</td>
            </ng-container>


            <!-- Kolumna Data ostatniego logowania -->
            <ng-container matColumnDef="lastSuccessfulLogin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ostatnie logowanie </th>
                <td mat-cell *matCellDef="let user"> {{ user.lastSuccessfulLogin | date: 'dd-MM-yyyy HH:mm' }}
                </td>
            </ng-container>

            <!-- Kolumna Akcje -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Akcje </th>
                <td mat-cell *matCellDef="let user">
                    <img src="./images/edit.png" alt="Edytuj" class="edit-icon" matTooltip="Edytuj"
                        matTooltipPosition="above" routerLink="/admin/user-edit/{{ user.id }}">
                    <img src="./images/delete.png" alt="Usuń" class="delete-icon" matTooltip="Usuń"
                        matTooltipPosition="above" (click)="onDeleteUser(user.id)">
                </td>
            </ng-container>

            <!-- Nagłówki i dane tabeli -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Paginacja -->
        <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>